**Test for NYC trees assignment**

To start I use download.py to get a smaller dataset (only 10000 instead of the original with 100000 rows)
My new dataset is data_10000.csv
(see second cell where I read the data, 10000 values takes 66 ms, while 100000 values takes 588)

In [1]:
#Import the necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Open & check the data

trees = pd.read_csv("data_10000.csv")
##%timeit 66 ms ± 3.95 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

#%timeit trees = pd.read_csv("data_100000.csv")
#588 ms ± 8.29 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
trees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  10000 non-null  object
 1   tree_id     10000 non-null  int64
 2   block_id    10000 non-null  int64
 3   the_geom    10000 non-null  object
 4   tree_dbh    10000 non-null  int64
 5   stump_diam  10000 non-null  int64
 6   curb_loc    10000 non-null  object
 7   status      10000 non-null  object
 8   health      9415 non-null   object
 9   spc_latin   9415 non-null   object
 10  spc_common  9415 non-null   object
 11  steward     9415 non-null   object
 12  guards      9415 non-null   object
 13  sidewalk    9415 non-null   object
 14  user_type   10000 non-null  object
 15  problems    9415 non-null   object
 16  root_stone  10000 non-null  object
 17  root_grate  10000 non-null  object
 18  root_other  10000 non-null  object
 19  trnk_wire   10000 non-null  object
 20  trnk_light  10000 non-null  object
 21  trnk_other  10000 non-null  object
 22  brnch_ligh  10000 non-null  object
 23  brnch_shoe  10000 non-null  object
 24  brnch_othe  10000 non-null  object
 25  address     10000 non-null  object
 26  zipcode     10000 non-null  int64
 27  zip_city    10000 non-null  object
 28  cb_num      10000 non-null  int64
 29  borocode    10000 non-null  int64
 30  boroname    10000 non-null  object
 31  cncldist    10000 non-null  int64
 32  st_assem    10000 non-null  int64
 33  st_senate   10000 non-null  int64
 34  nta         10000 non-null  object
 35  nta_name    10000 non-null  object
 36  boro_ct     10000 non-null  int64
 37  state       10000 non-null  object
 38  latitude    10000 non-null  float64
 39  longitude   10000 non-null  float64
 40  x_sp        10000 non-null  float64
 41  y_sp        10000 non-null  float64
dtypes: float64(4), int64(11), object(27)
memory usage: 3.2+ MB

Seeing that, things to do:

0 created at : it should be a date...

In [3]:
trees.head(3)

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,09/03/2015,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,09/05/2015,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267

In [31]:
trees.shape

(10000, 42)

In order to get some insight about the data, I check the website of the dataset:

https://data.cityofnewyork.us/Environment/2015-Street-Tree-Census-Tree-Data/uvpi-gqnh

In [15]:
#trees.isna().sum() #useless, the columns with nan are the ones that are objects type!

created_at      0
tree_id         0
block_id        0
the_geom        0
tree_dbh        0
stump_diam      0
curb_loc        0
status          0
health        585
spc_latin     585
spc_common    585
steward       585
guards        585
sidewalk      585
user_type       0
problems      585
root_stone      0
root_grate      0
root_other      0
trnk_wire       0
trnk_light      0
trnk_other      0
brnch_ligh      0
brnch_shoe      0
brnch_othe      0
address         0
zipcode         0
zip_city        0
cb_num          0
borocode        0
boroname        0
cncldist        0
st_assem        0
st_senate       0
nta             0
nta_name        0
boro_ct         0
state           0
latitude        0
longitude       0
x_sp            0
y_sp            0
dtype: int64

In [24]:
#trees.zipcode.value_counts()

10306    448
11105    355
11375    263
10457    250
11215    247
        ...
11360      1
11004      1
10035      1
10469      1
10115      1
Name: zipcode, Length: 160, dtype: int64

In [27]:
trees[trees.columns[10]].unique() #thus probably with regex, change the names, all with no capital letters

array(['red maple', 'pin oak', 'honeylocust', 'American linden',
       'London planetree', 'ginkgo', 'willow oak', 'sycamore maple',
       'Amur maple', nan, 'hedge maple', 'American elm', 'ash',
       'crab apple', 'silver maple', 'Turkish hazelnut', 'black cherry',
       'eastern redcedar', 'Norway maple', 'tulip-poplar', 'sawtooth oak',
       'Sophora', 'swamp white oak', 'Chinese fringetree',
       'southern magnolia', 'sweetgum', 'Callery pear', 'scarlet oak',
       'Atlantic white cedar', 'black oak', 'Japanese zelkova',
       'white oak', 'Ohio buckeye', 'northern red oak', 'silver linden',
       'pignut hickory', 'Kentucky yellowwood', 'mulberry', 'Douglas-fir',
       'crepe myrtle', 'sassafras', 'spruce', 'Chinese elm',
       'horse chestnut', 'holly', 'littleleaf linden', 'white pine',
       'blackgum', 'cherry', 'Japanese tree lilac', 'hardy rubber tree',
       'green ash', 'English oak', 'white ash', 'golden raintree',
       "Schumard's oak", 'Siberian elm', 'black walnut', 'weeping willow',
       'katsura tree', 'black locust', 'Persian ironwood',
       'Cornelian cherry', 'Chinese chestnut', 'southern red oak',
       'purple-leaf plum', 'crimson king maple', 'Kentucky coffeetree',
       'Japanese snowbell', 'sugar maple', 'arborvitae',
       'Oklahoma redbud', 'tree of heaven', 'Chinese tree lilac',
       'American hornbeam', 'eastern cottonwood', 'eastern hemlock',
       'silver birch', 'Atlas cedar', 'empress tree', 'hawthorn',
       "'Schubert' chokecherry", 'catalpa', 'river birch', 'boxelder',
       'European beech', 'Norway spruce', 'Himalayan cedar',
       'Amur cork tree', 'Japanese maple', 'shingle oak', 'magnolia',
       'smoketree', 'paper birch', 'American beech',
       'American hophornbeam', 'American larch', 'pond cypress',
       'cockspur hawthorn', 'dawn redwood', 'common hackberry',
       'flowering dogwood', 'kousa dogwood', 'maple', 'eastern redbud',
       'bald cypress', 'cucumber magnolia', 'serviceberry',
       'Osage-orange', 'paperbark maple', 'red pine'], dtype=object)

In [29]:
trees[trees.columns[9]].unique()

array(['Acer rubrum', 'Quercus palustris',
       'Gleditsia triacanthos var. inermis', 'Tilia americana',
       'Platanus x acerifolia', 'Ginkgo biloba', 'Quercus phellos',
       'Acer pseudoplatanus', 'Acer ginnala', nan, 'Acer campestre',
       'Ulmus americana', 'Fraxinus', 'Malus', 'Acer saccharinum',
       'Corylus colurna', 'Prunus serotina', 'Juniperus virginiana',
       'Acer platanoides', 'Liriodendron tulipifera',
       'Quercus acutissima', 'Styphnolobium japonicum', 'Quercus bicolor',
       'Chionanthus retusus', 'Magnolia grandiflora',
       'Liquidambar styraciflua', 'Pyrus calleryana', 'Quercus coccinea',
       'Chamaecyparis thyoides', 'Quercus velutina', 'Zelkova serrata',
       'Quercus alba', 'Aesculus glabra', 'Quercus rubra',
       'Tilia tomentosa', 'Carya glabra', 'Cladrastis kentukea', 'Morus',
       'Pseudotsuga menziesii', 'Lagerstroemia', 'Sassafras albidum',
       'Picea', 'Ulmus parvifolia', 'Aesculus hippocastanum', 'Ilex',
       'Tilia cordata', 'Pinus strobus', 'Nyssa sylvatica', 'Prunus',
       'Syringa reticulata', 'Eucommia ulmoides',
       'Fraxinus pennsylvanica', 'Quercus robur', 'Fraxinus americana',
       'Koelreuteria paniculata', 'Quercus shumardii', 'Ulmus pumila',
       'Juglans nigra', 'Salix babylonica', 'Cercidiphyllum japonicum',
       'Robinia pseudoacacia', 'Parrotia persica', 'Cornus mas',
       'Castanea mollissima', 'Quercus falcata', 'Prunus cerasifera',
       "Acer platanoides 'Crimson King'", 'Gymnocladus dioicus',
       'Styrax japonicus', 'Acer saccharum', 'Thuja occidentalis',
       'Cercis reniformis', 'Ailanthus altissima', 'Syringa pekinensis',
       'Carpinus caroliniana', 'Populus deltoides', 'Tsuga canadensis',
       'Betula pendula', 'Cedrus atlantica', 'Paulownia tomentosa',
       'Crataegus', 'Prunus virginiana', 'Catalpa', 'Betula nigra',
       'Acer negundo', 'Fagus sylvatica', 'Picea abies', 'Cedrus deodara',
       'Phellodendron amurense', 'Acer palmatum', 'Quercus imbricaria',
       'Magnolia', 'Cotinus coggygria', 'Betula papyrifera',
       'Fagus grandifolia', 'Ostrya virginiana', 'Larix laricina',
       'Taxodium ascendens', 'Crataegus crusgalli var. inermis',
       'Metasequoia glyptostroboides', 'Celtis occidentalis',
       'Cornus florida', 'Cornus kousa', 'Acer', 'Cercis canadensis',
       'Taxodium distichum', 'Magnolia acuminata', 'Amelanchier',
       'Maclura pomifera', 'Acer griseum', 'Pinus resinosa'], dtype=object)

Coach said:
    For machine learning purposes, you can get rid of all redundant data. 
    Also, any column that can be reproduced using another one, can be dropped too.

Thus, the_geo can be dropped.

In [35]:
trees[trees.columns[15]].unique()

array(['None', 'Stones', 'MetalGrates', 'RootOther', 'Stones,BranchOther',
       'TrunkLights,BranchLights', 'RootOther,TrunkOther,BranchOther',
       'BranchOther', 'Stones,BranchLights', 'TrunkOther,BranchLights',
       'MetalGrates,TrunkOther', 'TrunkOther', 'Stones,WiresRope',
       'BranchLights', nan, 'WiresRope,BranchOther',
       'RootOther,BranchOther', 'Stones,WiresRope,BranchLights',
       'WiresRope', 'WiresRope,BranchLights', 'Stones,TrunkOther',
       'WiresRope,TrunkLights,BranchLights', 'Stones,RootOther',
       'Stones,BranchLights,BranchOther', 'Stones,RootOther,BranchLights',
       'MetalGrates,BranchOther', 'Stones,RootOther,TrunkOther',
       'RootOther,TrunkOther',
       'Stones,TrunkOther,BranchLights,BranchOther',
       'Stones,TrunkOther,BranchOther', 'RootOther,BranchLights',
       'TrunkOther,BranchOther', 'RootOther,WiresRope,BranchLights',
       'Stones,TrunkOther,BranchLights', 'BranchLights,Sneakers',
       'Stones,RootOther,TrunkOther,BranchLights',
       'MetalGrates,TrunkOther,BranchOther', 'TrunkLights,BranchOther',
       'TrunkLights', 'Stones,RootOther,BranchOther',
       'RootOther,WiresRope', 'BranchLights,BranchOther',
       'Stones,MetalGrates', 'RootOther,TrunkOther,BranchLights',
       'Stones,WiresRope,TrunkOther,BranchLights',
       'WiresRope,TrunkOther,BranchOther',
       'RootOther,WiresRope,TrunkOther,BranchLights',
       'RootOther,TrunkOther,BranchLights,BranchOther',
       'MetalGrates,RootOther,TrunkOther', 'Stones,WiresRope,TrunkOther',
       'MetalGrates,RootOther,TrunkOther,BranchOther',
       'Stones,RootOther,WiresRope,BranchLights', 'WiresRope,TrunkOther',
       'RootOther,WiresRope,TrunkOther', 'MetalGrates,WiresRope',
       'Stones,RootOther,WiresRope,TrunkOther',
       'Stones,RootOther,TrunkOther,BranchOther',
       'Stones,WiresRope,BranchOther',
       'RootOther,BranchLights,BranchOther',
       'Stones,RootOther,WiresRope,TrunkLights,BranchLights',
       'RootOther,WiresRope,TrunkOther,BranchLights,BranchOther',
       'WiresRope,TrunkOther,BranchLights,BranchOther',
       'Stones,RootOther,WiresRope,BranchOther', 'MetalGrates,RootOther',
       'Stones,TrunkLights', 'Stones,MetalGrates,WiresRope,BranchLights',
       'Stones,WiresRope,BranchLights,BranchOther',
       'TrunkOther,BranchLights,BranchOther', 'TrunkLights,TrunkOther',
       'Stones,RootOther,TrunkLights,BranchLights',
       'Stones,TrunkLights,BranchLights',
       'WiresRope,BranchLights,BranchOther', 'WiresRope,TrunkLights',
       'Stones,RootOther,TrunkOther,BranchLights,BranchOther',
       'TrunkOther,Sneakers',
       'RootOther,WiresRope,TrunkOther,BranchOther',
       'RootOther,TrunkLights,BranchLights', 'RootOther,Sneakers',
       'Stones,RootOther,Sneakers,BranchOther',
       'MetalGrates,WiresRope,BranchOther',
       'RootOther,TrunkLights,BranchOther',
       'RootOther,WiresRope,BranchOther',
       'Stones,RootOther,WiresRope,TrunkOther,BranchLights,BranchOther',
       'MetalGrates,BranchLights',
       'Stones,TrunkLights,BranchLights,BranchOther',
       'Stones,MetalGrates,RootOther'], dtype=object)

In [4]:
trees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  10000 non-null  object
 1   tree_id     10000 non-null  int64
 2   block_id    10000 non-null  int64
 3   the_geom    10000 non-null  object
 4   tree_dbh    10000 non-null  int64
 5   stump_diam  10000 non-null  int64
 6   curb_loc    10000 non-null  object
 7   status      10000 non-null  object
 8   health      9415 non-null   object
 9   spc_latin   9415 non-null   object
 10  spc_common  9415 non-null   object
 11  steward     9415 non-null   object
 12  guards      9415 non-null   object
 13  sidewalk    9415 non-null   object
 14  user_type   10000 non-null  object
 15  problems    9415 non-null   object
 16  root_stone  10000 non-null  object
 17  root_grate  10000 non-null  object
 18  root_other  10000 non-null  object
 19  trnk_wire   10000 non-null  object
 20  trnk_light  10000 non-null  object
 21  trnk_other  10000 non-null  object
 22  brnch_ligh  10000 non-null  object
 23  brnch_shoe  10000 non-null  object
 24  brnch_othe  10000 non-null  object
 25  address     10000 non-null  object
 26  zipcode     10000 non-null  int64
 27  zip_city    10000 non-null  object
 28  cb_num      10000 non-null  int64
 29  borocode    10000 non-null  int64
 30  boroname    10000 non-null  object
 31  cncldist    10000 non-null  int64
 32  st_assem    10000 non-null  int64
 33  st_senate   10000 non-null  int64
 34  nta         10000 non-null  object
 35  nta_name    10000 non-null  object
 36  boro_ct     10000 non-null  int64
 37  state       10000 non-null  object
 38  latitude    10000 non-null  float64
 39  longitude   10000 non-null  float64
 40  x_sp        10000 non-null  float64
 41  y_sp        10000 non-null  float64
dtypes: float64(4), int64(11), object(27)
memory usage: 3.2+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  10000 non-null  string
 1   tree_id     10000 non-null  Int64
 2   block_id    10000 non-null  Int64
 3   the_geom    10000 non-null  string
 4   tree_dbh    10000 non-null  Int64
 5   stump_diam  10000 non-null  Int64
 6   curb_loc    10000 non-null  string
 7   status      10000 non-null  string
 8   health      9415 non-null   string
 9   spc_latin   9415 non-null   string
 10  spc_common  9415 non-null   string
 11  steward     9415 non-null   string
 12  guards      9415 non-null   string
 13  sidewalk    9415 non-null   string
 14  user_type   10000 non-null  string
 15  problems    9415 non-null   string
 16  root_stone  10000 non-null  string
 17  root_grate  10000 non-null  string
 18  root_other  10000 non-null  string
 19  trnk_wire   10000 non-null  string
 20  trnk_light  10000 non-null  string
 21  trnk_other  10000 non-null  string
 22  brnch_ligh  10000 non-null  string
 23  brnch_shoe  10000 non-null  string
 24  brnch_othe  10000 non-null  string
 25  address     10000 non-null  string
 26  zipcode     10000 non-null  Int64
 27  zip_city    10000 non-null  string
 28  cb_num      10000 non-null  Int64
 29  borocode    10000 non-null  Int64
 30  boroname    10000 non-null  string
 31  cncldist    10000 non-null  Int64
 32  st_assem    10000 non-null  Int64
 33  st_senate   10000 non-null  Int64
 34  nta         10000 non-null  string
 35  nta_name    10000 non-null  string
 36  boro_ct     10000 non-null  Int64
 37  state       10000 non-null  string
 38  latitude    10000 non-null  Float64
 39  longitude   10000 non-null  Float64
 40  x_sp        10000 non-null  Float64
 41  y_sp        10000 non-null  Float64
dtypes: Float64(4), Int64(11), string(27)
memory usage: 3.3 MB

In [7]:
#To have the right date type.
trees['created_at'] = pd.to_datetime(trees['created_at'])

In [8]:
trees.created_at

0      2015-08-27
1      2015-09-03
2      2015-09-05
3      2015-09-05
4      2015-08-30
          ...
9995   2015-09-06
9996   2015-09-06
9997   2015-09-10
9998   2015-08-31
9999   2015-08-31
Name: created_at, Length: 10000, dtype: datetime64[ns]

In [12]:
trees[trees.columns[12]].unique()

array(['None', 'Helpful', 'Harmful', 'Unsure', nan], dtype=object)

In [13]:
trees.guards.isna().sum()

585

In [41]:
trees[trees.columns[27]].unique()

array(['Forest Hills', 'Whitestone', 'Brooklyn', 'New York',
       'Staten Island', 'Astoria', 'Elmhurst', 'Kew Gardens', 'Ridgewood',
       'Bronx', 'Fresh Meadows', 'East Elmhurst', 'Jackson Heights',
       'Flushing', 'Rego Park', 'Far Rockaway', 'Corona',
       'Springfield Gardens', 'Queens Village', 'Woodhaven',
       'Rockaway Park', 'Long Island City', 'Saint Albans', 'Bayside',
       'Oakland Gardens', 'Jamaica', 'College Point', 'Little Neck',
       'Howard Beach', 'Arverne', 'Richmond Hill', 'Woodside',
       'Bellerose', 'Ozone Park', 'Sunnyside', 'South Ozone Park',
       'Cambria Heights', 'Rosedale', 'Glen Oaks', 'Central Park'],
      dtype=object)

In [47]:
#trees[trees.columns[36]].unique()
#value_counts()
#unique()

In [31]:
#trees.loc['Jamaica']

In [35]:
trees[trees.duplicated()]

Empty DataFrame
Columns: [created_at, tree_id, block_id, the_geom, tree_dbh, stump_diam, curb_loc, status, health, spc_latin, spc_common, steward, guards, sidewalk, user_type, problems, root_stone, root_grate, root_other, trnk_wire, trnk_light, trnk_other, brnch_ligh, brnch_shoe, brnch_othe, address, zipcode, zip_city, cb_num, borocode, boroname, cncldist, st_assem, st_senate, nta, nta_name, boro_ct, state, latitude, longitude, x_sp, y_sp]
Index: []

[0 rows x 42 columns]

In [51]:
trees.brnch_shoe =='True'
trees.brnch_shoe.value_counts()

No     9996
Yes       4
Name: brnch_shoe, dtype: int64

In [54]:
trees.brnch_ligh.value_counts()

No     8905
Yes    1095
Name: brnch_ligh, dtype: int64

In [57]:
trees.brnch_ligh =='True'
trees.brnch_ligh.value_counts()

No     8905
Yes    1095
Name: brnch_ligh, dtype: int64

In [ ]:
df['commissioned'] = df['commissioned'].map(
                   {'yes':True ,'no':False})

In [67]:
trees['brnch_ligh'] = trees['brnch_ligh'].map({'Yes':True ,'No':False})

In [72]:
trees[0:2]

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,2015-08-27,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,2015-09-03,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379